body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alignright {
  text-align: right;
}

.containerLayout {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1249px;
  margin: 20px auto;
}

.cardContainer {
width: 275px;
min-width: 275px;
display: flex;
margin: 10px 1.5vw;
}

/* .buttonsCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.alignLeft {
	float: left;
}
.alignRight {
	float: right;
}

.center {
  text-align: center;
}

.greyBackground {
  background-color: #e9ecef;
}

.bold {
  font-weight: 900;
}

.hide {
  display: none;
}

#projectCards {
  /* border:0; */
}

.musescore {
  font-weight: 400;
  font-family: sans-serif;
  white-space: normal;
  overflow: visible;
  fill: #000000;
  line-height: normal;
  text-indent:0;
  text-align:start;
  text-decoration-line:none;
  text-decoration-style:solid;
  text-decoration-color:#000;
  text-transform:none;
  block-progression:tb;
  isolation:auto;
  mix-blend-mode:normal;
}

.languagePill {
  margin: 2px;
}

.linkColor {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.hide {
  display:none;
}
